<!--
Author: Shivam Sharma
Learn Jinja Templating in Django before going to this code
-->


{% extends 'Login/base.html' %}
{% block title %}Login{% endblock %}
{% block link %}{% url 'login' %} {% endblock %}
{% block content %}
    <h1>Login Form </h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Warning!</strong>
            <p>Please enter a correct username and password. Note that both fields may be
                case-sensitive.</p>
        </div>
    {% endif %}
    <div class="w3ls-login">
        <form method="post">
            <div class="agile-field-txt">
                {% csrf_token %}
                <label for="id_username">
                    <i class="fa fa-user" aria-hidden="true"></i> Username :</label>
                <input type="text" name="username" value=""
                       autofocus=""
                       maxlength="254" required="" id="id_username">
            </div>
            <div class="agile-field-txt">
                <label for="id_password">
                    <i class="fa fa-lock" aria-hidden="true"></i> password :</label>
                <input type="password" name="password" required=""
                       id="id_password">
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Show password</label>
                </div>
            </div>
            <script>
                function myFunction() {
                    var x = document.getElementById("id_password");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- //script for show password -->
            <div class="w3ls-login  w3l-sub">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

{% endblock %}
