html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Submit CSV file page */
.container_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: auto;
    font-size: 20px;
}

/*Login Page*/
.w3ls-login {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
}

h1 {
    font-size: 3.2em;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 2px;
    text-shadow: 2px 0px 0px #fff;
    margin: 1.1em 1vw .9em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.w3ls-login form {
    max-width: 550px;
    margin: 0 5vw;
    background: #181818;
    background-size: cover;
    background: #eee;
    background-size: cover;
    box-shadow: 2px 2px 17px rgba(41, 40, 40, 0.39);
    padding: 3.5vw;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.w3ls-login label {
    font-size: 14px;
    color: #000000;
    float: left;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
}

.agile-field-txt {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5em;
}

.w3ls-login label i {
    font-size: 1.1em;
    margin-right: 3px;
    color: #E91E63;
}

.w3ls-login input[type="text"],
.w3ls-login input[type="password"] {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    /* line-height: 25px; */
    padding: 15px 15px;
    box-sizing: border-box;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.49);
    -webkit-appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

label.check {
    float: none;
}

.agile_label {
    text-align: left;
    margin: 10px 0 0;
}

.w3ls-login.w3l-sub {
    margin-top: 1em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.w3ls-login input[type=submit] {
    color: #f6f6f6;
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.1em;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #E91E63;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.w3ls-login input[type=submit]:hover {
    background: #000;
    color: #fff;
}

/* Style inputs with type="text", select elements and textareas */
input, textarea {
    /*width: 100%; !* Full width *!*/
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */

body {
    background: white url("images/background2.jpg")
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

.container {
    padding: 50px;

}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    height: 60px; /* Height of the footer */
    width: 100%;
}

/*--copyright--*/

.copy-wthree {
    margin: 4em 0em;
    text-align: center;
}

.copy-wthree p {
    color: black;
    font-size: 14.5px;
    letter-spacing: 1.5px;
    line-height: 1.8;
    margin: 0 3vw;
    font-weight: 600;

}

.copy-wthree p a {
    color: black;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.copy-wthree p a:hover {
    color: #4a90e2;
}

/*--//copyright--*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}